/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../font/OpenSans-Light.ttf) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans-Regular"), url(../font/OpenSans-Regular.ttf) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../font/OpenSans-Semibold.ttf) format("woff");
}

/* line 16, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 20, ../sass/screen.scss */
body {
  background: #fafafa;
  font-family: 'Open Sans';
  font-weight: 300;
}

/* line 25, ../sass/screen.scss */
header {
  background: #555555;
  color: #dfdfdf;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 10px;
}
/* line 32, ../sass/screen.scss */
header a {
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  cursor: pointer;
}
/* line 37, ../sass/screen.scss */
header a:active {
  color: #fff;
}

/* line 42, ../sass/screen.scss */
section.articleList {
  width: 100%;
}
/* line 44, ../sass/screen.scss */
section.articleList article {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid white;
  clear: both;
  min-height: 70px;
  background: #fafafa;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../sass/screen.scss */
section.articleList article figure {
  float: left;
  margin-right: 10px;
}
/* line 57, ../sass/screen.scss */
section.articleList article figure img {
  border: 1px solid #dfdfdf;
  padding: 1px;
  background: #fafafa;
}
/* line 63, ../sass/screen.scss */
section.articleList article h2 {
  color: #bd3623;
  margin-bottom: 5px;
  font-weight: 400;
  padding-left: 60px;
}
/* line 69, ../sass/screen.scss */
section.articleList article p.description {
  font-size: 14px;
  line-height: 16px;
  padding-left: 60px;
}

/* line 77, ../sass/screen.scss */
article.article figure {
  width: 100%;
  margin: 10px auto 10px;
}
/* line 81, ../sass/screen.scss */
article.article h2, article.article h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* line 86, ../sass/screen.scss */
article.article h2.title, article.article h1.title {
  color: #bd3623;
}
/* line 90, ../sass/screen.scss */
article.article p.description {
  font-size: 14px;
  line-height: 16px;
  padding: 0 10px;
}
/* line 95, ../sass/screen.scss */
article.article .paragraphs {
  padding-top: 10px;
}
/* line 97, ../sass/screen.scss */
article.article .paragraphs .paragraph {
  margin-bottom: 10px;
}
/* line 99, ../sass/screen.scss */
article.article .paragraphs .paragraph h2.headline {
  color: #555555;
}
